:root {
  --bg-header-color: #0096c7;
  --white-text-color: #F8F9FA;
  --bg-nav-color: #d3f8ff;
  --bg-color: #F8F9FA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: max-content 1fr / 300px 1fr; 
}

header {
  background-color: var(--bg-header-color);
  grid-column: span 2;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.logo > h1 {
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 2rem;
}

#logo-svg {
  height: 2.5rem;
  fill: var(--white-text-color)
}

nav {
  background-color: var(--bg-nav-color);
  grid-row: span 2;
}

ul {
  list-style-type: none;
}

#content {
  background-color: var(--bg-color);
}

#project {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

#open-project-input {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#project svg {
  height: 1.5rem;
}

.hidden {
  display: none;
}

